<h3>Edit the album!</h3>

<form action="<%= album_url(@album) %>" method = "post">

<input type="hidden" name= "_method" value = "patch">

<label for="album_title">Title: </label>
<input type="text" name = album[title] id = "album_title" value = "<%= @album.title%>">
<br>

<label for="album_year">Year: </label>
<input type="text" id = "album_year" name = album[year] value = "<%= @album.year %>">

<br>

<label for="album_band">Band: </label>
<select name="album[band_id]" id="album_band">
<option>--please select--</option>
<% Band.all.each do |band| %>
<option
<%= @album.band == band ? "selected" : "" %> 
value = "<%= band.id %>"><%= band.name%></option>
<% end %>
</select>
<br>

<input 
type="radio" 
name="album[live]" 
value="true" 
id="album_type_live"
<%= @album.live == true ? "checked" : "" %>>
<label for="album_type_live">Live</label>
<input 
type="radio" 
name="album[live]" 
value="false" 
id="album_type_studio"
<%= @album.live == false ? "checked" : "" %>>
<label for="album_type_studio">Studio</label>

<input type="submit" value= "Update the album!">

</form>