<h1>Show Cat Page</h1>

<table>
    <thead>
        <tr>
            <th colspan="4"><%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Birth_date: </td> <td><%= @cat.birth_date %></td>
        </tr>
        <tr>
            <td>Color: </td> <td><%= @cat.color %></td>
        </tr>
        <tr>
            <td>Sex: </td> <td><%= @cat.sex %></td>
        </tr>
        <tr>
            <td>Desription: </td> <td><%= @cat.description %></td>
        </tr>

    </tbody>
</table>
     